<p>Hello, and thank you for using <%= @group[:expansion] || @group[:name] || 'EDO' %>.</p>

<p>We just received a request to reset your password. To reset your password, enter this code <%= @user.code %> on the Change Password page at <a href="<%= @url %>"><%= @url %></a>.  This code will expire in 72 hours.</p>

<p>Yes, passwords can sometimes be a pain to remember. Have you tried using Password Manager software to securely store all your passwords? Just google ‘Password Manager’ to try some options.</p>

<p>By the way, thanks again for using <%= @group[:expansion] || @group[:name] || 'EDO' %>. We would appreciate your feedback and support. We are listening and making changes every day based on your feedback.</p>

<p>Feel free to contact us anytime at <%= link_to "www.economx.com/contact-us", url_for("http://www.economx.com/contact-us"), target: "_blank", rel: "alternate" %>.</p>