<p>Hi,</p>

<p>You have received a new Business Lead</p>

<p><b>Sender</b> - <%= @sender.name %> (<%= @sender.email %>)</p>

<p><b>Company Name</b> - <%= @lead.name %></p>

<p><b>Company Contact</b> - <%= @lead.contact %></p>

<p><b>Contact Number</b> - <%= @lead.phone %></p>

<p><b>Company Email</b> - <%= @lead.email %></p>

<p><b>Comments</b> - <%= @lead.comments %></p>